<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: html}">
<head>
  <th:block th:with="pageTitle='Topics'"></th:block>
</head>
<body>
<div th:fragment="content">
  <h1>Topics</h1>
  <div class="container-fluid py-4">
    <div th:each="topic : ${topics}" class="card my-2">
      <div class="card-header">
        <span class="badge text-bg-danger" th:text="${topic.getCode()}"></span>
      </div>
      <div class="card-body">
        <h5 class="card-title" th:text="${topic.getName()}"/>
        <p class="card-text" th:text="${topic.getDescription()}"/>
        <a href="#" class="btn btn-primary">See More Information</a>
      </div>
      <div class="card-footer text-body-secondary">
        2 days ago
      </div>
    </div>
  </div>
</div>
</body>
</html>
