<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: html}">
<head>
    <th:block th:with="pageTitle='TopControlsics'"></th:block>
</head>
<body>
<div th:fragment="content">
    <h1>Controls</h1>
    <div class="container-fluid py-4">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
            <div class="col" th:each="control : ${controls}">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex flex-column text-start">
                        <span class="badge bg-secondary font-monospace my-1" th:text="${control.getCode()}"/>
                        <h6 class="card-title fw-bold text-truncate my-1" th:text="${control.getName()}"/>
                        <p class="card-text small text-muted text-description" th:text="${control.getDescription()}"/>
                        <div class="my-1">
                            <span th:each="coverage : ${control.getTechniqueCoverage()}" class="badge bg-danger font-monospace mx-1" th:text="${coverage.getTechnique().getMitreId()}"/>
                        </div>
                        <div class="mt-auto">
                            <hr>
                            <a th:href="@{/control/{id}(id = ${control.getId()})}"
                               class="btn btn-sm btn-outline-primary w-100">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
